<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :New_password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :New_password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <% if @current_user.is_admin %>
    <div class="field">
      <%= form.label :Admin %>
      <%= form.check_box :is_admin, class: "input-group-text" %>
    </div>
  <% end %>

<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>